<!doctype html>
<html lang="fr">

<head>
<meta charset="utf-8" />

	<title>Titre de la page</title>
</head>


<body>
    <h1>Liste des films produit par : {{ nom }}</h1>
    <table>

		<tr>
			
		</tr>
		
		{% for i in films_dir.index: %}
        <tr>
            <td>{{ films_dir.iloc[i]['title'] }}</td>
        </tr>
		{% endfor %}
       
    </table>
	<h2>Liste des catégories des films  produit par: {{ nom }}</h2>

	<img src="listed.png" alt="Catégorie" />
	
	<footer> 
	{{ time_stamp }}
	</footer> 

</body>
</html>


